---
// src/pages/about.astro
import fs from 'node:fs';
import path from 'node:path';
import matter from 'gray-matter';
import Base from '../layouts/Base.astro';
import { getCityConfig } from '../lib/city-config';
import { cityDir } from '../lib/config';

const config = getCityConfig();

const aboutPath = path.join(cityDir, 'pages', 'about.md');
const raw = fs.readFileSync(aboutPath, 'utf-8');
const { data: frontmatter, content } = matter(raw);

// Interpolate config values into placeholder tokens
const html = content
  .replace(/\{author_photo_url\}/g, config.author.photo_url)
  .replace(/\{author_name\}/g, config.author.name)
  .replace(/\{author_email\}/g, config.author.email)
  .replace(/\{display_name\}/g, config.display_name);

const title = frontmatter.title || 'About';
---

<Base title={`${title} | ${config.display_name}`} description={`${title} - ${config.display_name} and ${config.author.name}`}>
  <div class="about-page--intro-text">
    <Fragment set:html={html} />
  </div>

  <br />
  <small>the <img src="/bicycle.png" alt="bicycle" width="32" height="32" style="vertical-align: middle;" /> icon is from <a href="https://www.flaticon.com/free-icon/bicycle_2972185#" target="_blank" rel="noopener">flaticon</a> - <a href="/sitemap">sitemap</a></small>
</Base>
